<label>Server Name</label>
<input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)"
>
<input 
type="text" 
class="form-control"
[(ngModel)]="serverName"
>
<p>{{ serverName }}</p>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>Add server</button>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<p *ngIf="serverCreated; else noServer">server was created. Server name is {{ serverName }}</p>
<ng-template #noServer> <p>No server was created</p> </ng-template>
<hr>
@if (serverCreated) {
  <span>if test</span>
}
<app-server *ngFor="let server of servers"></app-server>

<hr>
<p>Lorem ipsum dolor sit amet consectetur 
<input 
type="text"
class="form-control"
style="width: 150px; display: inline;"
[(ngModel)]="userName"
>
adipisicing elit. Tempore, laudantium adipisci eaque earum voluptatem eos architecto temporibus, labore sed soluta rem explicabo similique cum ab quia nobis. Cupiditate, tempora cum.</p>
<p>{{ userName }}</p>
<button
class="btn btn-primary"
(click)="resetUserName()"
[disabled]="userName === ''"
>Clear</button>
<hr>
<button 
class="btn btn-primary"
(click)="onToggleText()"
>
display details
</button>
@if (textStatus) {
  <p>secret pass is tuna</p>
}
<ul>
  @for (index of clickLogs; track clickLogs[index]) {
    <!-- @if (clickLogs.length < 5) {
      <li>{{ index }}</li>
    } @else {
      <li 
      [ngStyle]="{backgroundColor: 'blue'}" 
      [ngClass]="{white: clickLogs.length >= 5}"
      >{{ index }}</li>
    } -->
      <li 
      [ngStyle]="{backgroundColor: clickLogs.length >= 5 ? 'blue' : 'transparent'}" 
      [ngClass]="{white: clickLogs.length >= 5}"
      >{{ index }}</li>
    
  }
</ul>